  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icons/favicon.png"> -->
  <!-- <link rel="apple-touch-icon" href="assets/img/icons/iconset/logo/favicons/favicon-192.png"> -->
  <meta name="title" content="{{ metadata.pages[pageName].metatitle }}">
  <meta name="description" content="{{ metadata.pages[pageName].metadescription }}">
  <meta name="theme-color" content="#9e9effff"/>
  <title>{{ title }}</title>
  <script defer src="https://cloud.umami.is/script.js" data-website-id="32303943-688c-4c97-a77f-02730ca5deae"></script>
  <!-- <link rel="manifest" href="/manifest.json"> -->
