.btn--primary {
  background-image: linear-gradient(to right, #8ebafc -10%, #8eb4fc 60%, #e0eaec 99%, #8294b5 155%);
  background-size: 200% auto;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(8, 43, 75, 0.45);
  transition: 0.5s;
  min-width: min-content;
  padding: 0.6rem 1rem;
  margin: 0.2rem;
  color: white;
  font-weight: 900;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  &:hover {}
}

.btn--secondary {}

.link-arrow:after {
  content: "⭢";
  vertical-align: middle;
}