<p class="codepen" data-height="100%" data-theme-id="dark" data-zoom="0.5" data-default-tab="result"
  data-slug-hash="{{params.penID}}" data-editable="true" data-user="{{params.username}}"
  style="box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a rel="noreferrer"
      href="https://codepen.io/{{params.username}}/pen/{{params.penID}}">{{params.description}}</a> by {{params.username}}
    (<a rel="noreferrer" href="https://codepen.io/{{params.username}}">@{{params.username}}</a>)
    on <a rel="noreferrer" href="https://codepen.io">CodePen</a>.</span>
</p>