body#skills {
    background-color: #000;
    color: white;

    h1,
    p,
    a,
    ul li {
        color: #aaa;
    }

    h2 {
        color: white;
    }

    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        scroll-behavior: smooth;


        // overflow: auto;
    }

    main>.left-text>header {
        margin-bottom: $desktop-xxl
    }

    main {
        .left-text {
            width: 40%;
            // height: 800px;

            border: 1px solid red;
            margin-bottom: $height-default;
            padding-left: $desktop-xxl;
            // overflow-y: scroll;
            scroll-snap-type: y mandatory;
            position: relative;
        }

        .chapter {
            min-height: 300px;
            border: 1px solid blue;
            margin-bottom: $desktop-innerpage;
            opacity: 0;
            transition: 1s all ease;


            scroll-margin: 10px;
            scroll-snap-align: start;
            scroll-snap-stop: normal;


        }

        .chapter.active {
            opacity: 1;

        }

        #chapter__css,
        #chapter__js {
            height: 350px;
        }

        .right-graphs {
            // border: 1px solid red;
            width: 50%;
            position: relative;

            svg {
                // border: 1px solid red;
                max-width: 100%;
                max-height: 100%;
                overflow: visible;
                position: fixed;

                .circles-all {
                    // border: 1px solid yellow;
                }

                .group-1,
                .group-2,
                .group-3 {
                    width: 100%;
                    min-width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}