---
layout: templates/_project.html
pagination:
  data: storyblok.projectpages
  size: 1
  alias: storyblokJsonData
pageName: "projectDetail"
---
{%- for item in pagination.items %}
    <header>
        <h1>{{ item.title }}</h1>
        <p>{{ item.summary }}</p>
    </header>
    <section class="project__description">
        <article class="{{ 'u-hidden' if item.descriptions == "" }}">
            <h2>Description</h2>
            {% for description in item.descriptions %}
                <p>{{ description }}</p>
            {% endfor %}
        </article>
        <article class="{{ 'u-hidden' if item.technologies == "" }} project__tech">
            <h2>Technologies</h2>
            <p>Used technologies</p>
        
            {% for language, tech in item.technologies %}
                {# <h3>{{ language }}</h3> #}
                <ul>
                    {% for techName in tech %}
                        <li>{{ techName }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </article>
    </section>
    {# <section>
        <article class="{{ 'u-hidden' if item.images == "" }}">
            <h2>Images</h2>
            {% for image in item.images %}
                <figure>
                    <img src="{{ image.url }}" alt="{{ image.alt }}">
                    <figcaption>{{ image.caption }}</figcaption>
                </figure>
            {% endfor %}
        </article>
    </section> #}
    <section class="project__links">
        <h2>Links</h2>
        <ul>
            <li>
                <a class="{{ 'u-hidden' if not item.links.site  }}" href="{{ item.links.site }}">site</a>
            </li>
            {# <li><a class="{{ 'u-hidden' if not item.links.detail  }}" href="{{ item.links.detail }}">detail</a></li> #}
            <li>
                <a class="{{ 'u-hidden' if not item.links.repository  }}" href="{{ item.links.repository }}">repo</a>
            </li>
            <li>
                <a class="{{ 'u-hidden' if not item.links.documentation  }}" href="{{ item.links.documentation }}">documentation</a>
            </li>
        </ul>
    </section>
{% endfor -%}