  .c-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $brand-transparent;
    padding: $desktop-xs 40px $desktop-xs 40px;

     
    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h1 {
        border-right: 0.5px solid $brand-transparent;
        padding-right: 20px;
      }

      p {
        padding-left: 20px;
      }
    }
    h1, p {
      margin-bottom: 0;
    }

    .header__title {
      color: $gray-1;
      font-size: 22px;
      font-family: Helvetica Neue;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      text-transform: none;
      letter-spacing: 0.48;
      text-decoration: none;
      text-indent: 0;
      word-spacing: 0;
      line-height: unset;
      margin-right: $desktop-xs;

      a {
        font-size: inherit;
        line-height: inherit;
      }
    }

    .header__description {
      font-size: 22px;
      line-height: unset;
    }
  }