.c-cta {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.03em;
 
  &::after {
    content: "⭢";
    font-size: 2rem;
    vertical-align: middle;
    margin-left: 0.75rem;
}
}
