---
title: Deanna Bosschert
---
<!doctype html>
<html lang="en">

<head>

  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/src/assets/index.css">
</head>

<body>
  <header id="top">
    <section>
      <a>20<span>21.</span></a>
      <h1>Deanna Bosschert</h1>
      <p>Web developer. Student. Tech enthusiast. Passionate about making the world a slightly better place.</p>
    </section>
    <nav>
      <ul>
        <li><a href="/#aboutme">about me</a></li>
        <li><a href="/#projects">projects</a></li>
        <li><a href="/#contact">contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="aboutme">
      <h2>About me</h2>
      <p>paragraaf over mij</p>
    </section>
    <section id="projects">
      <h2>Projects</h2>
      <p>inleiding</p>
      <section id="tech">
        <h3>Tech-related</h3>
        <p>Because i've been wandering the tech-track of Communication and Multimedia Design, I've worked on lots of
          tech-related projects. Below are a few of those.</p>
        <article>
          <h4>functional programming</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/functional-programming.png"
                alt="screenshot of my website for the functional programming course">
            </div>
            <figcaption>
              How to clean data using functional programming patterns.
            </figcaption>
          </figure>
          <p><span>Data cleaning exercises.</span> Fetch a dataset of a questionnaire that the students filled in during
            the Information Design Datavisualization-course, and clean this data using filters based on functional
            programming principles. Project during the Tech Track of Information Design Project 2020.</p>
          <a href="https://github.com/deannabosschert/functional-programming/wiki">Read more</a>
          <a href="https://github.com/deannabosschert/functional-programming">View on GitHub</a>
        </article>
        <article>
          <h4>photography on-the-go</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/project-web.jpg" alt="screenshot of my website for project web">
            </div>
            <figcaption>
              UX Design of an interactive concept that's based on real-life data and media context of an user.
            </figcaption>
          </figure>
          <p><span>An interactive multi-device prototype for photographers on the go. </span>Travelling photographers
            can view, rate and annotate their pictures using their phone. Assignment for the second year's project
            'Project Web' of CMD.</p>
          <a href="https://deannabosschert.gitbook.io/project-web/">Read more</a>
          <a href="https://github.com/deannabosschert/project-web">View on GitHub</a>
        </article>
        <article>
          <h4>plog de dag</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/vormgeving-2.png" alt="screenshot of my website for vormgeving 2">
            </div>
            <figcaption>
              Multi-device layout/design from a brand guide.
            </figcaption>
          </figure>
          <p><span>Responsive onepage design.</span> Website for promoting the 'Plog de dag'-event in the style of
            IAMsterdam. Added interaction with subtle changes in transitions and with animations.</p>
          <a href="https://deannabosschert.gitbook.io/vormgeving-2/">Read more</a>
          <a href="https://github.com/deannabosschert/vormgeving_2">View on GitHub</a>
        </article>
        <article>
          <h4>spotify lyrics</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/shot_on_fire.gif"
                alt="gif of a shot glass filled with alcohol, being lit on fire and then have the fire erupt into the words 'I'M OK'.">
            </div>
            <figcaption>
              Animated title for the song "I'M OK" by Little Big.
            </figcaption>
          </figure>
          <p><span>Lyrics design for Spotify. </span>Title design for the song "I'm OK' by Little Big, based on visual
            research.
          </p>
          <a href="https://deannabosschert.gitbook.io/vormgeving-2/">View on GitBook</a>
        </article>
        <article>
          <h4>design patterns</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/design-patterns.jpg"
                alt="screenshot of my website for design patterns">
            </div>
            <figcaption>
              Screenflow of the multi-device usage of Dropbox Paper.
            </figcaption>
          </figure>
          <p><span>Multi-Device Design use case analysis.</span> Research of an existing Multi-Device design, presented
            in a screenflow.</p>
          <a href="https://deannabosschert.gitbook.io/design-patterns/">View on GitBook</a>
        </article>
        <article>
          <h4>datavisualization</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/datavis.png" alt="screenshot of my website for datavis 2 ">
            </div>
            <figcaption>
              Users can choose their favorite brand and then get shown a series of visualizations based on their
              preference.
            </figcaption>
          </figure>
          <p><span>Storytelling-based series of datavisualizations. </span>Digital prototype, presented in a 'choose
            your story'-style, based on data from a survey.</p>
          <a href="https://deanna-bosschert.gitbook.io/dataviz-2021/">Read more</a>
          <a href="https://github.com/deannabosschert/datavis-23">View on GitHub</a>
        </article>


        <article>
          <h4>photography collection nmvw</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/frontend-applications.png"
                alt="screenshot of my website for frontend applications">
            </div>
            <figcaption>
              Search the photography collection of NMVW and browse through analogue images of Indonesia.
            </figcaption>
          </figure>
          <p><span>Client-side application using Vue 2.</span> Dynamically renders data to views using JavaScript and a
            front-end framework. Includes reflection on the merits and costs of frameworks together. </p>
          <a href="https://github.com/deannabosschert/frontend-applications">View on GitHub</a>
        </article>


        <article>
          <h4>zorgcowboys</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/pointer-project.png"
                alt="screenshot of my website for information design">
            </div>
            <figcaption>
              Datavisualizations show how a company's profit compares to the 'normal' amount.
            </figcaption>
          </figure>
          <p><span>'Zorgcowboys' team project for KRO-NCRV Pointer. </span>Users can find their own healthcare
            institution or an institution of interest and can shop with the profit they made in a specific year. Users
            can buy silly things in the webshop like a private jet or an Aston Martin supercar.
          </p>
          <details>
            <summary>Read more</summary>
            <a
              href="https://paper.dropbox.com/doc/Pointer-project--BCqtYwrl7mbhXhTjYKihAp~cAQ-F7LtQE0oXYGPpFfTQwLVC">procesverslag</a>
            <a
              href="https://paper.dropbox.com/doc/Productbiografie--BCrKpIEPBqxw8bUPXsIoUmUwAQ-Ql68Kxu3M7K6rUbCKXoyS">productbiografie</a>
          </details>
          <a href="https://github.com/deannabosschert/pointer-project">View on GitHub</a>
        </article>


        <article>
          <h4>twitter feuds</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/real-time-web.png"
                alt="screenshot of my website for real time web">
            </div>
            <figcaption>
              Search for two rivaling Twitter users and see who's got the most loyal fanbase.
            </figcaption>
          </figure>
          <p><span>Real-time web app, using sockets. </span>Compare the follower count of two rivaling twitter accounts
            over time, and see which one is winning in popularity. Inspired by the Tati/James feud.
          </p>
          <a href="https://github.com/deannabosschert/real-time-web-1920">View on GitHub</a>
        </article>


        <article>
          <h4>cmd digital playground</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/cmd-digital-playground.png" alt="screenshot of my website for ">
            </div>
            <figcaption>
              Contains general information about CMD, reflects their view on Digital Interactive Design and displays
              their other
              activities or initiatives such as Battery or Golden Dot Awards.
            </figcaption>
          </figure>
          <p><span>PWA team project, data managed by a headless CMS. </span>Allows non-tech-y textwriters, developers,
            students and other collaborators to contribute to this environment that contains (in-depth) information
            about Communication and Multimedia Design. Final assignment of the minor Web Development 2020. </p>
          <details>
            <summary>Read more</summary>
            <a href="https://cmd-digital-playground.gitbook.io/design-rationale-cmd-digital-playground/">design
              rationale</a>
            <a href="https://deanna-bosschert.gitbook.io/productbiografie-deanna/">productbiografie</a>
          </details>
          <a href="https://github.com/deannabosschert/meesterproef-1920">View on GitHub</a>
        </article>

        <article>
          <h4>meditrack</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/browser-technologies.png"
                alt="screenshot of my website for browser technologies">
            </div>
            <figcaption>
              Add a new dose so you can look the time, date and dose up later on.
            </figcaption>
          </figure>
          <p><span>Keep track of your medicine intake. </span>For who constantly forgets if they have taken their
            medicine yet. Add doses, retrieve past doses and view your intake over the last few weeks. Specifically made
            to work on every browser and following Progressive Enhancement principles.</p>
          <a href="https://github.com/deannabosschert/browser-technologies-1920/wiki">Read more</a>
          <a href="https://github.com/deannabosschert/browser-technologies-1920">View on GitHub</a>
        </article>

        <article>
          <h4>real-time chatbot</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/real-time-chatbot.gif"
                alt="screenshot of my website for real-time-web subassigment 1">
            </div>
            <figcaption>
              Interact with a real-time chatbot by text commands.
            </figcaption>
          </figure>
          <p><span>Interact with a quote-hoarding chatbot. </span>Users can add quotes to a quotelist, then request a
            random one via the quote-command. Chatbot responds with quotes when specific words are used (kinda like
            Slackbot-responses)
          </p>
          <a href="https://github.com/deannabosschert/real-time-web-1920_chat">View on GitHub</a>
        </article>


        <article>
          <h4>exclusive design</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/web-design.gif" alt="screenshot of my website for web design">
            </div>
            <figcaption>
              As Larissa can distinguish movement and high contrast, an extra experience was added during users tests.
            </figcaption>
          </figure>
          <p><span>Exclusive design for exhibiting a sound-fragment to Blind users.</span> The website is specifically
            made for one person (Larissa), whom is visually impaired. There are a few funny additions that will appear
            on the screen reader she uses.
          </p>
          <a href="https://github.com/deannabosschert/web-design-1819">View on GitHub</a>
        </article>


        <article>
          <h4>wafs participation</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/web-app-from-scratch.png"
                alt="screenshot of my website for web apps from scratch ">
            </div>
            <figcaption>
              Get an overview of the people that have forked the WAFS-repo and have participated in this year's
              programme.
            </figcaption>
          </figure>
          <p><span>Fetch GitHub data in a client-side web app. </span>Keep track of the current participants of the Web
            App From Scratch class in the minor Webdevelopment (2020).
          </p>
          <a href="https://github.com/deannabosschert/web-app-from-scratch-1920">View on GitHub</a>
        </article>


        <article>
          <h4>weekly nerd</h4>
          <figure>
            <div><img src="/src/assets/img/thumbnails/weekly-nerd.png"
                alt="screenshot of my website for the weekly nerd ">
            </div>
            <figcaption>
              Click through my sketchnotes during the Weekly Nerd course, followed by my articles.
            </figcaption>
          </figure>
          <p><span>Blogposts and sketchnotes to digitally flip through. </span>Click through my sketchnotes of
            interesting lectures as if you're flipping over the pages of a real book. Below, there's also a collection
            of articles that i've written.
          </p>
          <a href="https://github.com/deannabosschert/weekly-nerd-articles-1920">View on GitHub</a>
        </article>
      </section>
      <section id="design">
        <h3>Design</h3>
        <p>Illustrating is cool. I'm by no means a visual designer but I do really enjoy working on illustration/design
          skills.</p>
        <article>
          <h4>random</h4>
          {% for image in collections.random %}
          <figure>
            <img src="./{{image}}"
              alt="illustration of something that i'll describe later bc 11ty isnt working with me">
            <!-- <figcaption></figcaption> -->
          </figure>
          {% endfor %}
        </article>
        <article>
          <h4>'workplace incidents'-icons</h4>
          {% for image in collections.workplace %}
          <figure>
            <img src="./{{image}}"
              alt="illustration of something that i'll describe later bc 11ty isnt working with me">
            <!-- <figcaption></figcaption> -->
          </figure>
          {% endfor %}
        </article>
      </section>
    </section>
    <section>
      <h3>Photography</h3>
      <p>Passionate about pictures. Mostly of people. Digital or analog; both are cool.</p>
    </section>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <p>Hit me up!</p>
      <p>I'm always up for nerdy conversations or other interesting stuff.</p>
      <address>
        <a href="mailto:deanna.bosschert@gmail.com">deanna.bosschert@gmail.com</a>
      </address>
    </section>

  </main>
  <footer>
    <ul>
      <li><a href="https://www.facebook.com/deanna.bosschert"><img src="/src/assets/img/icons/facebook.png"
            alt="facebook icon"></a></li>
      <li><a href="https://www.instagram.com/techkech.jpeg/"><img src="/src/assets/img/icons/instagram.png"
            alt="instagram icon"></a></li>
      <li><a href="https://twitter.com/tech_kech"><img src="/src/assets/img/icons/twitter.png" alt="twitter icon"></a>
      </li>
    </ul>
    <a class="backToTop" href="#top">Back to top</a>
  </footer>
</body>

</html>