---
layout: templates/_base.html
title: "Deanna Bosschert, creative developer & digital designer."
pageName: "Home"
---
<header id="top">
  <section>
    <h1>Deanna Bosschert</h1>
    <p>Creative developer. Tech enthusiast.</p>
    <p>Passionate about Ethical Design and making unnecessary fun stuff.</p>
  </section>
</header>

<section id="maintenance">
  <h2>👩‍💻 -- maintenance mode-- 👩‍💻</h2>
</section>
<section id="aboutme">
  <h2>about me</h2>
  <article>
    <p>Hi! 👋🏼 I'm Deanna, creative developer and digital designer.</p>
    <p> Just graduated from Communication and Multimedia Design at the Amsterdam University of Applied Sciences as a frontend + backend webdeveloper and digital designer. During my study, I've chosen to follow all the tech-related courses. My main focus and passion lies within
          Web Design and Development, using mostly JavaScript.</p>
  </article>
</section>

<section id="contact">
  <h2>contact info</h2>
  <p>Always up for nerdy conversations or other interesting topics over some ☕️ or 🍺.</p>
  <article>
    <address>
          Email me at: <a href="mailto:deanna.bosschert@gmail.com">deanna.bosschert@gmail.com</a>
    </address>
    <ul>
      <li>My <a href="https://nl.linkedin.com/in/deannabosschert">linkedin</a> is a bit abandoned but I'm always up for new
              connections there too.
            </li>
      <li>Sometimes I tweet what's on my mind on <a href="https://twitter.com/tech_kech">twitter</a>, or just share useful
              things or stuff that I find important.
            </li>
      <li>I've written some articles and posted on
              <a href="https://medium.com/@deanna.bosschert">medium</a>.
            </li>
      <li>My <a href="https://codepen.io/deannabosschert">codepen</a> is used for a mix of quick examples and well.. less
              quick examples.
            </li>
      <li>Free images on <a href="https://unsplash.com/@deannabosschert">unsplash</a>.
            </li>
      <li>Non-free images on <a href="https://www.flickr.com/people/169241155@N05/">flickr</a>. </li>
    </ul>
  </article>

</section>
{# <footer>
      <ul>

        <li>
          <a target="_blank" rel="noreferrer noopener" href="https://www.instagram.com/techkech.jpeg/">link to
          Instagram</a>
        </li>
        <li>
          <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/tech_kech">link to Twitter</a>
        </li>
      </ul>
       <a class="backToTop" href="#top">Back to top</a> 
    </footer> #}